<main class="">
  <div class="error">
    <p>{{message}}</p>
  </div>
  <div class="input">
    <input autofocus class="input"  id="userName" type="text" (focus)="onFocus()"
      [(ngModel)]="loginForm.userId" placeholder="user id" />
  </div>
  <div class="input">
    <input class="input"  id="password" type="password" (focus)="onFocus()" [(ngModel)]="loginForm.password"
      placeholder="password" />
  </div>

  <div class="input">
    <button class="button" type="submit" (click)="login($event)">Login</button>
  </div>

</main>
