@import '../../scss/variables.scss';

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
  }

.header-title {
    padding: 5px;
    text-align: center;
    background: #599689;
    color: white;
    font-size: 30px;
}

.header3 {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
}


.error{
    text-align:center;
    margin: 0 auto;
    color: #EF3E3E;
    min-height: 10px;
    height: 20px;
}

.label {
    text-align:left;
    padding-left:3px;
    padding-top:5px;
    margin: 0 auto;
    width:250px;
}

.extra {
    text-align:center;
    padding-left:3px;
    padding-top:3px;
    margin: 0 auto;
    width:250px;
    font-size: 11px;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-item {
    text-align:left;
    margin: 0 auto;
    padding: 2px;
}
.outmost {
    height: 100%;
    width: 100%;
    padding: 3px;
    overflow-y: scroll;
}

.flow-layout {
    display: flex;
}

.div-center {
    text-align:center;
    margin: 0 auto;
    -ms-flex: 1;  /* IE 10 */  
     flex: 1;
}
.div-left {
    text-align:left;
    margin: 0 auto;
    -ms-flex: 2;  /* IE 10 */  
     flex: 1;
}

.div-right {
    text-align:right;
    margin: 0 auto;
    -ms-flex: 1;  /* IE 10 */  
     flex: 1;
}

.weekly-workinghour-block{
    width: 120px;
    position: relative;
    padding-right: 5px;
}

.special-workinghour-block {
    width: 200px;
    position: relative;
    padding-right: 5px;
    padding-bottom: 15px;
}

.holiday-rule-block {
    width: 200px;
    position: relative;
    padding-right: 5px;
    padding-bottom: 10px;
}

.hilited {
    color:blue;
}

.regular {
    color:blue;
}

.alink{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.b-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

a:hover{
    color: blue;
}

button:hover{
    color: blue;
}

.no-border-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor:pointer;
}
button:hover{
    color: blue;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}