<div class="">
  <div class="header-title"><span>Business Calendar Administration</span></div>
  <div class="div-center"><h3>Forget password, send a requst for reset. </h3></div>
    <div class="div-left">
      <div class="error">
        <p>{{errorMsg}}</p>
      </div>
        <span> &nbsp;&nbsp;</span>
      <div class="div-left">
        <input class="input" id="userId" type="text" [(ngModel)]="loginForm.userId" placeholder="User Id" />
      </div>
      <span> &nbsp;&nbsp;</span>
      <div class="div-left">
        <input class="input" id="email" type="text" [(ngModel)]="loginForm.email" placeholder="Email" />
      </div>
      <span> &nbsp;&nbsp;</span>
      <div class="div-center">
        <button class="btn" (click)="forgetpassword($event)" >Request Password Reset</button>
      </div>
      <span> &nbsp;&nbsp;</span>
      <div class="div-center">
        <span><a class = "b-link" href="#" (click)="toLogin($event)">Go to Login</a></span>
      </div>
    </div>
</div>
