<div class="">
    <div class="div-left">
      <div *ngIf="errorMsg != null && errorMsg.length > 0" class="error">
        <div>{{errorMsg}}</div>
      </div>

      <div class="div-left">
        <input class="input" id="userId" type="text" [(ngModel)]="loginForm.userId" placeholder="User Id" />
      </div>

      <div class="div-left">
        <input class="input" id="email" type="text" [(ngModel)]="loginForm.email" placeholder="Email" />
      </div>

      <div class="div-left">
        <button class="btn" (click)="forgetpassword($event)" >Request Password Reset</button>
      </div>

      <div class="div-left">
        <span><a href="#" (click)="toLogin($event)">Go to Login</a></span>
      </div>
    </div>
</div>
