
  <div class="outmost">
    <div class="error">
      {{message}}
    </div>
    <div class="input">
      <input class="input" id="userId" type="text" [(ngModel)]="loginForm.userId" placeholder="User Id" />
    </div>
    <div class="input">
      <input class="input" id="password" type="password" [(ngModel)]="loginForm.password" placeholder="Password" />
    </div>
    <div class="input">
      <input class="input" id="newpepassword" type="password" [(ngModel)]="loginForm.newPassword"
        placeholder="New Password" />
    </div>

    <div class="div-left">
      <button class="btn" (click)="resetpassword($event)">Reset Password</button>
    </div>

    <div class="extra">
      <span><a href="#" (click)="toLogin($event)">Go to login</a></span>
    </div>
  </div>
