$white: #fff; 
$link-color: #337ab7;
$secondary-bg: #c1c1c1;
$tertiary-bg: #dff0d9;
$light-bg: #f9f9f9;
$alt-bg: #00BD9C;
$primary-hilite: #F2C500; 
$primary-action: #0058aa; 
$secondary-action: #8fbfff; 
$primary-attention: #d22831; 
$outline-color: $primary-hilite;
$primary-bg: #fff; 
$banner-bg: #f0f0f0;
$banner-bg-alt: #4f4f4f;
$good-font-color: #389900;
$new-button-color: $secondary-font-color;
$primary-border-color: #d8d8d8; 
$secondary-border-color: #1ebc9c;
$tertiary-border-color: #3d3d3d;
$banner-font-color:#4f4f4f;
$banner-font-color-alt: #f0f0f0;
$primary-font-color: #2e2e2e; 
$secondary-font-color: #656565;
$tertiary-font-color: #549763;
$alternate-font-color: #555;
$disabled-bg-color: #f0f0f0;
$primary-icon-color: #12579d;
$success-bg-color: #d4edda;
$success-color: #155724;
$info-bg-color: #d1ecf1;
$info-color: #0c5460;
$error-bg-color: #f8d7da;
$error-color: #721c24;
$warn-bg-color: #fff3cd;
$warn-color: #856404;
$bold: 800;
$normal: 500;
$light: 200;
