<div class="outmost">
  <div class="header-title"> Rule Expression Editor</div>
  <div class="flex-container" style="padding-top: 10px;">
    <div>
        <div><mat-label>{{data.title}}</mat-label></div>
        <textarea  [(ngModel)]="data.expression" rows="30" cols="50">
        </textarea>
        <div mat-dialog-actions>
          <button mat-button (click)="testRule()">Test</button> &nbsp;&nbsp;&nbsp;
          <button mat-button (click)="cancel()">Cancel Edit</button> &nbsp;&nbsp;&nbsp;
          <button mat-button mat-dialog-close  (click)="testAndExit()" cdkFocusInitial>Test and Exit</button>
        </div>
    </div>
    <div>
      <div style= "height: 450px; overflow-y: scroll;"><cal-rule-editor-help language = "en"></cal-rule-editor-help></div>
    </div>
</div>