@import '../../../scss/variables.scss';
.title {
    text-align:center;
    font-size: 14px;
    color:lightsalmon;
}
.error {
    text-align:left;
    font-size: 12px;
    color:red;
}
.note {
    text-align:left;
    font-size: 14px;
    color:blue;
}